.container {
  display: flex;
  align-items: flex-start;
  gap: 250px;
}
.variant {
  color: white;
  text-align: center;
}

.li {
  list-style-type: none;
}
.list {
  text-decoration: none;
  color: white;
  font-family: fantasy;
  font-size: 1.2em;
  &:hover span {
    visibility: visible;
  }
}

.listRed {
  color: red;
}
.img {
  border-radius: 10px;
  width: 440px;
}
.rating {
  background-color: red;
  padding: 4px 8px;
  border-radius: 4px;
  right: 0;
  top: 0;
  position: absolute;
  color: white;
}

.poster {
  position: relative;
}
